<!DOCTYPE html>
<html>
	<head>
		<title>Signup</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
		<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div class="col-md-3">
		</div>
		<form class="form-horizontal col-md-5" method="post" th:action="@{/entry}" th:object="${entryForm}">
			<!-- /* Show general error message when form contains errors */ -->
			<th:block th:if="${#fields.hasErrors('${entryForm.*}')}">
				<div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
			</th:block>
			<fieldset>
				<legend style="text-align: center">Create a new post</legend>
				<div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
					<label for="title" class="col-lg-2 control-label">Title</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="title" placeholder="title" th:field="*{title}" />
						<span class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</span>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('text')}? 'has-error'">
					<label for="text" class="col-lg-2 control-label">Your post</label>
					<div class="col-lg-10">
						<textarea class="form-control" id="text" placeholder="Your post" th:field="*{text}" rows="5" cols="40"/>
						<span class="help-block" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Incorrect post/comment</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">OK</button>
					</div>
				</div>
			</fieldset> 
		</form>
		<div class="col-md-3">
		</div>
	</body>
</html>